@font-face {
  font-family: "Simplifica";
  src: url("SIMPLIFICATypeface.ttf") format("truetype");
}

.app {
  text-align: center;
}

.modalImage {
  background-image: url("http://localhost:3001/assets/Bunmi.jpg");
}


.transparentClass {
  opacity: 0;
}

grid {
  max-width: 600px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0px;
  background-color: white;
}
/* // look into snap */
.stickyPainting {
  scroll-snap-align: end;
  position: -webkit-sticky;
  position: sticky;
  overflow-y: scroll;
  top: 9rem;
  height: 90vh;
  background-color: white;
  text-align: left;
}

.stickyPainting::-webkit-scrollbar {
  display: none;
}

.stickyPainting:last-of-type {
  background-color: transparent;
  /* padding-top: 30px; */
}
.stickyPainting:last-of-type > img {
  padding-top: 10px;
}
.stickyPainting:last-of-type > p {
  background-color: white;
}

.stickyPaintingAuction {
  scroll-snap-align: top;
  position: -webkit-sticky;
  position: sticky;
  overflow-y: scroll;
  top: 15;
  padding-top: 55px;
  height: 90vh;
  text-align: left;
}

.stickyPaintingAuction::-webkit-scrollbar {
  display: none;
}

.vertical-scroll-snap {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
  padding: 0px;
  margin-top: -15px;
  vertical-align: text-top;
}
.vertical-scroll-snap::-webkit-scrollbar {
  display: none;
}

.formClass {
  width: 25vh;
  font-size: 12px;
  text-align: right;
  display: block;
  /* margin-left: 5vw; */
}

h2 {
  font-family: "Simplifica";
  padding: 0px;
  margin: 0px;
}

h1 {
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: black;
  text-align: center;
  /* margin: 0px 0px 0px; */
  padding: 0px 0px 0px;
  background-color: white;
  /* padding-bottom: px; */
  font-size: 55px;
  font-family: "Simplifica";
  position: -webkit-sticky;
  position: sticky;
  top: 2.5rem;
}

p {
  padding: 2px;
  margin: 0px;
  font-size: 15px;
}
img {
  vertical-align: middle;
}

.vertical-scroll-snap > h1 {
  margin-bottom: 25px;
}

.border {
  border-top: 1px solid;
  border-color: black;
  text-align: center;
  height: 80px;
  background-color: white;
  /* padding-bottom: px; */
  font-size: 25px;
  font-family: "Simplifica";
  position: -webkit-sticky;
  position: sticky;
  top: 2.5rem;
}

.border-div {
  border-top: 1px solid;
  border-color: black;
  border-bottom: 1px solid;
  background-color: white;
  padding: 10px;
  text-align: left;
  font-size: 25px;
  font-family: "Simplifica";
}

.border::after {
  content: "";
  height: 50px;
  top: 3rem;
  z-index: -1;
}

.portraitHeaderP {
  display: inline-block;
  line-height: 82px;
}
.portraitSmallP {
  display: inline-block;
}

.height-crop {
  height: 70vh;
  overflow: hidden;
  text-align: center;
}

.height-crop-current {
  height: 47vh;
  overflow: hidden;
  text-align: center;
}
.width-crop {
  width: 300px;
  height: 300px;
  text-indent: -50vw;
  overflow: hidden;
}

.centered-over-img {
  position: absolute;
  color: rgb(42, 54, 54);
  text-align: center;
  font-size: 75px;
  font-weight: bold;
  font-family: "Simplifica";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-over-img-current {
  position: absolute;
  color: rgb(42, 54, 54);
  text-align: center;
  font-size: 75px;
  font-weight: bold;
  font-family: "Simplifica";
  top: 61%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.centered-over-img-top {
  position: absolute;
  color: rgb(42, 54, 54);
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  font-family: "Simplifica";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table.center {
  margin-left: auto;
  margin-right: auto;
  padding-top: 6px;
}

.centerImage {
  width: 100vw;
  margin: 0 auto;
}

.paragraph {
  line-height: 10px;
  text-indent: 10px;
  text-align: center;
}

.centeredText {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.MyCardElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
  border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}
